body {
    background-color: #0008FF;
    cursor: url(C:\Users\sbmrs\Documents\GitHub\jesterinagony\images\cursor.cur), auto;
}

div.sticky { /* é o coiso do scroll para ficar sticky :3 */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.overlap {
    display: block;
    line-height: 0;
}

p.texto {
    color: yellow;
}

